@import "tailwindcss";

@theme {
  --color-bg-dark: #2b161b;
  --color-bg-panel: #422028;
  --color-bg-sidebar: #1f1013;
  --color-accent-primary: #ff4757;
  --color-accent-gradient-start: #ff5f6d;
  --color-accent-gradient-end: #ffc371;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a0a0a0;
  --color-card-bg: #3b1e25;

  --font-manrope: 'Manrope', sans-serif;
}

:root {
  --background: #1a0f12;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bg-panel);
  border-radius: 4px;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}